.feature-list {
  @include list-style;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 26px;

  font-family: $basic-font-family;
  font-style: normal;
}

.feature-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95%;
  min-width: 280px;

  margin: auto;
  padding: 10px;


  background-color: $background-color;
  border-radius: 6px;

  @media (min-width: $tablet) {
    width: 570px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    padding: 21px 10px 21px 40px;
  }

  @media (min-width: $desktop) {
    margin: initial;
  }
}

.feature-list__info {
  padding-top: 22px;
}

.feature-list__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;

  color: $accent-dark;
}

.feature-list__text {
  max-width: 284px;

  margin: 0;
  padding-top: 22px;

  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.feature-list__text--speed {
  max-width: 244px;
}

.feature-list__text--info {
  max-width: 292px;
}

.feature-list__text--chat {
  max-width: 275px;
}
