.features__heading {
  font-size: 40px;
  line-height: 52px;

  color: $basic-dark;

  text-align: center;

  @media (min-width: $tablet) {
    text-align: initial;
  }
}

.features__list {
  margin-top: 50px;
}
