.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  padding-bottom: 10px;

  font-family: $special-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  color: $accent-violet;
}

.form__label:not(:first-child) {
  padding-top: 18px;
}

.form__input {
  padding: 13px 16px 14px 12px;

  font-family: $special-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  color: $text-input-color;

  border: 1px solid $border-input-color;
  border-radius: 4px;

  &::placeholder {
    color: $text-input-color;
  }
}

.form__button {
  margin-top: 34px;
}
