.header {
  padding-top: 33px;

  @media (min-width: $desktop) {
    padding-top: 33px;
    padding-bottom: 29px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  // margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-left: 4px;
  }
}

.header__nav {

  margin-top: 10px;

  @media (min-width: $tablet) {
    margin-top: -4px;
    margin-right: 13px;
  }
}
