.menu {
  @include list-style;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.menu__item {
  // margin-bottom: 10px;
  text-align: center;
}

.menu__item:not(:last-child) {
  @media (min-width: $tablet) {
    margin-right: 99px;
  }
}

.menu__link {
  font-family: $special-font-family;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;

  text-decoration: none;

  color: $basic-white;

  transition: color 0.5s ease-in;

  &:hover {
    color: $accent-orange-hover;
  }
}

.menu__link--icon {
  display: flex;
  justify-content: center;
}

.menu__icon {
  margin-right: 12px;
}
