@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Whitney-Medium.woff") format("woff");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Whitney-Semibold.woff") format("woff");
}
